body {
                margin: 0;
                background-color: #E6EED6;
                font-family: Arial, sans-serif;
            }
            .navbar {
                background-color: #273B09;
                display: flex;
                align-items: center;
                padding: 15px 40px;
            }
            .logo img {
                width: 60px;
            }
            .nav-links {
                list-style: none;
                display: flex;
                margin: 0 auto;   /* centers the menu */
                padding: 0;
                color: #E6EED6;
            }
            .nav-links li {
                margin: 0 12px; /*space between each*/
                position: relative;
            }
            .nav-links a {
                text-decoration: none; /* removes underline*/
                color: #E6EED6;
                font-size: 16px;
            }
            footer{
                width: 100%;
                padding: auto;
                text-align: center;
                position: absolute;
                bottom: 0;
            }
            
             .container{
                border-top-left-radius: 10%;
                border-top-right-radius: 10%;
                border-bottom-right-radius: 5%;
                border-bottom-left-radius: 5%;
                background-color:rgba(35, 115, 1, 0.2);
                text-align: center;
                /* until here */
             }